/* Cookie Banner Styles */
.cookie-banner {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #111;
    color: #fff;
    padding: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-family: Arial, sans-serif;
}

.cookie-banner p {
    font-size: 14px;
    margin: 0;
    max-width: 80%;
}

.cookie-banner button {
    padding: 10px 10px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.cookie-banner button:first-child {
    background-color: #4caf50; /* Green for Accept */
    color: white;
}

.cookie-banner button:first-child:hover {
    background-color: #45a049; /* Slightly darker green */
}

.cookie-banner button:last-child {
    background-color: #f44336; /* Red for Decline */
    color: white;
}

.cookie-banner button:last-child:hover {
    background-color: #e53935; /* Slightly darker red */
}

@media screen and (max-width: 768px) {
    .cookie-banner {
        flex-direction: column;
        padding: 10px;
    }

    .cookie-banner button {
        margin: 10px 10px 0 0;
        width: 90%;
    }
}